<mat-toolbar>
  <a href="/en-US"><img src="./assets/en-flag.png" /></a>
  <a href="/es"><img src="./assets/es-flag.png" /></a>
  <a href="/pt"> <img src="./assets/pt-flag.png" /></a>
</mat-toolbar>

<div class="header">
  <h1>{{localized.title}}</h1>
  <h3>{{localized.subtitle}}</h3>

  <mat-list>
    <mat-list-item *ngFor="let scoreDescription of localized?.score; let i = index">
      <strong>{{i}}</strong> {{scoreDescription}}
    </mat-list-item>

  </mat-list>

  <p>{{localized.explanation}}</p>
</div>
