.header {
  max-width: 768px;
  margin: 25px auto;
}

.header strong {
  display: inline-block;
  margin: 0 10px ;
}

.header h1 {
  text-transform: uppercase;
  font-size: 2em;
}

.header h3 {
  font-size: 1.1em;
}

.header p {
  color: gray;
}

mat-toolbar {
  justify-content: center;
  align-items: center;
}

mat-toolbar img {
  width: 100%;
  height: auto;
  max-width: 50px;
  padding: 0 10px;
}
