<div class="header">
  <h1>Gift Assessment Form</h1>
  <h3>Read and score each of the following questions according to the following scale:</h3>

  <mat-list>
    <mat-list-item> <strong>0</strong> Not at all; has never occurred </mat-list-item>
    <mat-list-item> <strong>1</strong> Rarely applies; seldom happens </mat-list-item>
    <mat-list-item> <strong>2</strong> Occasionally; happens once in a while </mat-list-item>
    <mat-list-item> <strong>3</strong> Occasionally; happens once in a while </mat-list-item>
    <mat-list-item> <strong>4</strong> Most of the time; consistently applies </mat-list-item>
  </mat-list>

  <p>Answer these questions according to who you are, not who you would like to be or think you ought to be. </p>
  <p>Put your score in the box to the immediate right of each question. </p>
  <p>Once you have completed all questions, click submit to see the results. </p>
</div>
