@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  font-family: 'Montserrat', sans-serif;
}

.mat-list-item {
  height: auto !important;
  margin-bottom: 25px !important;
}

.mat-radio-label {
  flex-direction: column;
  width: 50px;
}

.mat-radio-label-content {
  padding-left: 0 !important;
}
